/* general */

body {
    background-color: #000000;
    background-image: url("../imgs/leeds3.jpg");
    background-attachment:fixed;
    background-position: center;
}

h1 {
    color:#f0ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color:#f0ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color:#f0ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color:#f0ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: #f0ffff;
    transition: ease-in-out 50ms;
}

a:hover {
    text-decoration: none;
    color:coral;
}

.fade-in {
    opacity: 0;
    transition: opacity 400ms ease-in;
}

.fade-in.show {
    opacity: 1;
}

/* nav */
/* .navbar {
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.85);
} */

.link {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15vh;
    background: rgba(0, 0, 0, 0.85);
}

.logo {
    margin: 1em;
    max-height: 20vh;
    transition: opacity 100ms ease-in;
}

.logo:hover {
    opacity: 0.8;
}

/* mobile hamburger menu/offcanvas */

.mobile-hamburger {
    display: none;
    padding: 1rem;
    max-height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
}

.mobile-hamburger-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.mobile-hamburger-list, li {
    margin: 30px;
}

.offcanvas-header {
    background-color: #0e0e0e;
}
.offcanvas-body {
    background-color: #0e0e0e;
}

@media only screen and (max-width: 990px){
    .navbar {
        display: none;
        text-align:initial;
        min-height: 100%;
    }

    .nav {
        display: none;
    }

    .mobile-hamburger {
        display: block;
    }

    .link {
        margin: 5px;
    }

    .logo {
        display: none;
    }
}

/* index */
.main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-image: url("../imgs/promo2.jpg");
}

.main-text {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding-right: 1em;
    padding-left:1em;
}

.logo-mobile {
    display: none;
}

@media only screen and (max-width: 990px){
    .logo-mobile {
        display: block;
        height: 15vh;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2em;
    }
}
/* bio section */
.section-bio {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.section-bio:nth-child(1) {
    background-image: url("../imgs/bio1.jpg");
}
  
.section-bio:nth-child(2) {
    background-image: url("../imgs/bio2.JPG");
} 

.section-bio:nth-child(3) {
    background-image: url("../imgs/bio3.jpg");
}

.section-bio:nth-child(4) {
    background-image: url("../imgs/bio4.JPG");
}

.bio-text {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding-left:20em;
    padding-right:20em;
}

@media only screen and (max-width: 1100px){
    .section-bio {
        background-attachment: scroll;
    }

    .bio-text{
        padding: 1em;
    }
}

/* music */

.section-music {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 70vh;
}

.section-music:nth-child(1) {
    background-image: url("../imgs/comatose.jpg");
}
  
.section-music:nth-child(2) {
    background-image: url("../imgs/AoD.jpg");
} 

.section-music:nth-child(3) {
    background-image: url("../imgs/blindworld.jpg");
}

.section-music:nth-child(4) {
    background-image: url("../imgs/anecdotes.jpg");
}

@media only screen and (max-width: 1100px){
    .section-music {
        background-attachment: scroll;
    }
}

.album-art {
    height: 50vh;
    margin:1em;
}

.album-spotify {
    height: 50vh;
}

.music-text {
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 2em;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
} 

@media only screen and (max-width: 990px){
    .music-text{
        padding: 3em;
    }

    .album-art {
        display: none;
    } 

    .album-spotify {
        max-height:40vh;
    }

}

@media only screen and (max-width: 700px) {

    .album-spotify {
        max-height: 50vh;
    }
}

/* merch */
.merch {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-image: url("../imgs/merch.JPG");
}

.merch-text {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 2em;
    padding-left:10em;
    padding-right:10em;
}

@media only screen and (max-width:1100px){
    .merch-text {
        padding-right: 1em;
        padding-left: 1em;
    }

    .merch {
        background-attachment: scroll;
    }
}

/* tour */

.tour {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-image: url("../imgs/tour.JPG");
}

.tour-text {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left:20em;
    padding-right:20em;
}

@media only screen and (max-width: 990px){
    .tour-text {
        padding-left: 1em;
        padding-right: 1em;
    }
}

/* contact */
.contact {
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-image: url("../imgs/promo4.jpg");
}

.contact-text {
    min-height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding-right: 1em;
    padding-left:1em;
}

.row-container {
    width: 100%;
}

.col-xl-6 {
    margin-top: 3em;
    min-height: 550px;
}

.fab {
    color:#f0ffff;
    margin:1rem;
    transition: ease-in-out 50ms;
}

.fab:hover {
    color: coral;
    cursor: pointer;
}

.fb-container {
    max-width:340px;
    position: relative;
    margin: auto;
}

.iframe-container {
    max-width:340px;
    position: relative;
    margin: auto;
}

.ig-container {
    max-width:340px;
    position: relative;
    margin: auto;
}

/* privacy */
.privacy {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-image: url("../imgs/promo2.jpg");
}

.privacy-text {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    padding:10em;
}

@media only screen and (max-width: 1100px){
    .privacy-text {
        padding:1em;
    }
}


/* footer */
.foot {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.85);
}